.Container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1.25rem;
    gap: 2rem;
}

.Title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.298rem;
    color: var(--color-white)
}

.Subheading{
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;
    font-style: italic;
    color: var(--color-white);
}

.Row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1.5rem;
}

.ExpenseTracker {
    width: 100%;
}

.RecentTransactions {
    width: 65%;
}

.TopExpenses {
    width: 33%;
}